<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestFirstApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE42320B1DCE666D00D3CADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE42321F1DCE666E00D3CADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE42322A1DCE666E00D3CADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
